$primary-color: #ececec;
$primary-color-dark: #757575;
$secondary-color: #99c1ff;
$secondary-color-light: #d5eef9;
$secondary-color-dark: #1e0ff1;
$translucent-light: rgba(235,235,235,0.55);
$translucent-dark: rgba(0,0,0,0.9);

$primary-font: "Roboto", Arial, Helvetica, sans-serif;
$icon-font: 'Material Icons';

@mixin icon($top, $left, $fontSize: 16px){
  position: absolute;
  font-family: $icon-font;
  top: $top;
  left: $left;
  font-size: $fontSize;
  transform: translate(-50%, -50%);
}

%kill-btn{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:active, &:focus{
    outline: 0;
  }
}

%kill-link{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

body{
  margin: 0;
  font-family: $primary-font;
}

.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.topbar{
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 0;
  background: #ececec;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
  z-index: 5;
  .container{
    display: flex;
    justify-content: space-between;
  }
  &__logo-wrapper{
    height: 38px;
    display: flex;
    align-items: center;
  }
  &__image-wrapper, &__image{
    height: 100%;
  }
  &__image-wrapper{
    margin-right: 15px;
  }
  &__logo-text{
    font-size: 18px;
    font-weight: 500;
    color: $primary-color-dark;
  }
  &__input-wrapper{
    width: 440px;
    position: relative;
  }
  &__input{
    width: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: $primary-color-dark;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
    box-sizing: border-box;
  }
  &__input-button{
    position: absolute;
    top: 5px;
    right: 7px;
    padding: 6px 15px;
    background-color: $secondary-color;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all;
    &:disabled{
      background-color: $primary-color-dark;
    }
    &:active, &:focus{
      outline: 0;
    }
  }
}

.content{
  margin-top: 15px;
  &__wrapper{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
  }
}

%info-item{
  position: relative;
  padding-left: 20px;
  &:before{
    @include icon(50%, 0);
  }
}

.photo-tumblr {
  width: calc(2/10 * 100%);
  position: relative;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  &__body-wrapper{
    width: 100%;
    padding: 8px 8px 0;
    transition: 0.3s all;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
    &:hover{
      -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.35);
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.35);
    }
  }
  &__image-wrapper{
    width: 100%;
    height: 135px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__info-item{
    &--likes{
      @extend %info-item;
      &:before{
        content: '\E87E';
      }
    }
    &--comments{
      @extend %info-item;
      &:before{
        content: '\E0CB';
      }
    }
  }
}

%modal-btn{
  position: absolute;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  .material-icons{
    font-size: 50px;
  }
  &:active, &:focus{
    outline: 0;
  }
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $translucent-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &__content-wrapper{
    max-width: 960px;
    width: 80%;
    height: 700px;
    display: flex;
    position: relative;
  }
  &__image-wrapper{
    width: 65%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image{
    max-height: 100%;
    max-width: 100%;
  }
  &__info{
    width: 35%;
    height: 100%;
    background: white;
  }
  &__button{
    &--prev{
      @extend %modal-btn;
      top: 45%;
      left: 5%;
    }
    &--next{
      @extend %modal-btn;
      top: 45%;
      left: 90%;
    }
    &--close{
      @extend %modal-btn;
      top: 6%;
      left: 90%;
    }
  }
}

.pagination{
  margin: 20px 0;
  &__links-wrapper{
    width: 40%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }
  &__link{
    @extend %kill-btn;
    min-width: 24px;
    min-height: 24px;
    margin: 0 5px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    color: $secondary-color-dark;
    &:hover{
      text-decoration: none;
      background-color: $secondary-color-light;
      color: $secondary-color-dark;
    }
    &:disabled{
      color: $primary-color-dark;
      &:hover{
        color: $primary-color-dark;
        background-color: transparent;
        cursor: default;
      }
    }
    &--active{
      background-color: $secondary-color-light;
      color: $secondary-color-dark;
      &:hover{
        cursor: default;
      }
    }
  }
}

.lowbar{
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all;
  &--error, &--sort{
    max-height: 40px;
    margin-top: 62px;
    font-size: 14px;
    padding: 10px 0;
    color: #000;
  }
  &--error{
    background: red;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  &--sort{
    background: $translucent-light;
  }
  &__sort-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__filters-wrapper{
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  &__filter{
    @extend %kill-btn;
    color: $secondary-color-dark;
    transition: 0.3s all;
    &:hover{
      color: $secondary-color;
    }
    &--sort-up, &--sort-down{
      font-weight: bold;
      position: relative;
      &:before{
        content: '\E164';
        @include icon(50%, 120%);
      }
    }
    &--sort-down:before{
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
